:root {
    --bg-color: #fff;
    --accent-color: #d5f2ff;
    --secondary-accent: #c6e8ff;
    --text-color: #000;
    --secondary-text: gray;
}
@font-face {
    font-family: figtree;
    src: url("./res/Figtree/Figtree-VariableFont_wght.ttf");
}
body {
    padding: 0;
    margin: 0;
    font-size: 1.5vw;
    font-family: figtree;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: underline;
}
header {
    width: 100%;
    user-select: none;
}
header > img {
    width: 300px;
    display: block;
    margin: 5px auto;
}
nav {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    text-align: center;
    position: sticky;
    top: 0px;
    background-color: var(--bg-color);
}
nav > a {
    height: 50px;
    line-height: 50px;
    flex-basis: 25%;
    color: var(--secondary-text);
    border-left: 1px solid var(--secondary-text);
}
nav > a:hover {
    background: radial-gradient(var(--secondary-accent), rgba(0, 0, 0, 0));
    color: var(--text-color);
}
nav > a:first-of-type {
    border-left: 0;
}
nav > a:last-of-type {
    border-right: 0;
}
.nav_active {
    background: radial-gradient(var(--accent-color), rgba(0, 0, 0, 0));
    color: var(--text-color);
}
section {
    height: 200px;
    width: 100%;
    text-align: center;
    line-height: 200px;
}
main {
    margin: 15px auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
}
.tab_of_con {
    flex-basis: 15%;
    align-self: flex-start;
    margin: 0 2.5%;
    position: sticky;
    top: 60px;
}
article {
    flex-basis: 60%;
    text-align: justify;
}
.singular_article {
    margin: 0 auto;
}
.big_img {
    margin: 5% auto;
    display: block;
    width: 80%;
}
.mid_img {
    width: 60%;
    margin: 5% auto;
    display: block;
}
.small_img {
    width: 40%;
    margin: 5px;
}
.left_img {
    display: block;
    float: left;
    margin-left: 0;
    margin-bottom: 0;
}
.right_img {
    display: block;
    float: right;
    margin-right: 0;
    margin-bottom: 0;
}
footer {
    border-top: 1px solid var(--secondary-text);
    font-size: 0.9rem;
    background-color: lightgray;
    color: var(--secondary-text);
    margin: auto;
    height: 100px;
}
footer > * {
    margin: 10px 10%;
}

@media (orientation: portrait) {
    body {
        font-size: 2vh;
    }
    nav {
        flex-direction: column;
        height: auto;
    }
    main {
        flex-direction: column;
        justify-content: center;
        width: 80%;
    }
    /*.tab_of_con {
        align-self: center;
        position: relative;
        margin: 0;
        text-align: center;
    }*/
}
