:root {
    --bg-color: rgba(255, 255, 255, 255);
    --accent-color: #d5f2ff;
    --secondary-accent: #c6e8ff;
    --text-color: #000;
    --secondary-text: gray;
}
@font-face {
    font-family: figtree;
    src: url("./res/Figtree/Figtree-VariableFont_wght.ttf");
}
body {
    padding: 0;
    margin: 0;
    font-size: 1.5vw;
    font-family: figtree;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: underline;
}
header {
    width: 100%;
    user-select: none;
}
header > img {
    width: 300px;
    display: block;
    margin: 5px auto;
}
nav {
    width: 95%;
    margin: 15px auto;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    position: sticky;
    top: 0px;
    border: 3px solid var(--accent-color);
    border-radius: 15px;
    background-color: (var(--bg-color));
}
nav > a {
    height: 80px;
    line-height: 80px;
    flex-basis: 20%;
    color: var(--secondary-text);
    background: radial-gradient(var(--accent-color), var(--bg-color));
    border-radius: 15px;
}
nav > a:hover {
    background: radial-gradient(var(--secondary-accent), var(--bg-color));
    color: var(--text-color);
}
.nav_active {
    background: radial-gradient(var(--accent-color), var(--bg-color));
    color: var(--text-color);
}
section {
    margin: 5% auto;
    height: 200px;
    width: 100%;
    text-align: center;
    line-height: 200px;
}
main {
    margin: 15px auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
}
.tab_of_con {
    text-align: center;
    flex-basis: 15%;
    align-self: flex-start;
    margin: 0 2.5%;
    position: sticky;
    top: 100px;
    border: 3px solid var(--accent-color);
    border-radius: 15px;
}
article {
    flex-basis: 60%;
    text-align: justify;
    border: 3px solid var(--secondary-accent);
    border-radius: 15px;
    padding: 0 2.5% 2.5% 2.5%;
}
.singular_article {
    margin: 0 auto;
}
.big_img {
    margin: 5% auto;
    display: block;
    width: 80%;
}
.mid_img {
    width: 60%;
    margin: 5% auto;
    display: block;
}
.small_img {
    width: 40%;
    margin: 5px;
}
.left_img {
    display: block;
    float: left;
    margin-left: 0;
    margin-bottom: 0;
}
.right_img {
    display: block;
    float: right;
    margin-right: 0;
    margin-bottom: 0;
}
footer {
    border-top: 1px solid var(--secondary-text);
    font-size: 0.9rem;
    background-color: lightgray;
    color: var(--secondary-text);
    margin: auto;
    height: 100px;
}
footer > * {
    margin: 10px 10%;
}

@media (orientation: portrait) {
    body {
        font-size: 2vh;
    }
    nav {
        position: relative;
        flex-direction: column;
        height: auto;
    }
    main {
        flex-direction: column;
        width: 80%;
    }
    .tab_of_con {
        align-self: center;
        position: relative;
        top: 0;
        margin: 0 0 10% 0;
        text-align: left;
        width: 50%;
    }
}
